#wrap {
    width: 600px;
    height: 741px;
    background-image: url('../img/christmas_background_image.png');
    margin-left: auto;
    margin-right: auto;
}

.top_title {
    width: 560px;
    font-size: 26pt;
    color: #000000;
    max-height: 20%;
}
    .top_title_row {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
        .top_username {
            color: pink;
        }
        .top_msgCount {
            color: pink;
        }

.top_info {
    width: 560px;
    font-size: 18pt;
    color: #000000;    
}
    .top_readableDate {
        color:pink;
    }

#overlay {
    
    position: absolute;
    width: 600px;
    height: 741px;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 1;
}

    #sidebar {
        position: absolute;
        width: 260px;
        height: 741px;
        background-color: #634646;
        right: 0;
        z-index: 1;
    }
        .close_icon {
            margin-top: 10%;
            margin-left: 85%;
        }

        .close_icon:hover {
            opacity: 0.5;
        }

        .sidebar_content {
            color: #ffffff;
        }

        .sidebar_content > div:hover {
            cursor: pointer;
            opacity: 0.5;
        }
            .sidebar_title {
                font-size: 30px;
                margin-left: 5%;
                margin-top: 15%;
            }

            .sidebar_join {
                font-size: 20px;
                margin-left: 5%;
                margin-top: 8%;
            }
            .sidebar_more {
                font-size: 20px;
                margin-left: 5%;
                margin-top: 8%;
            }
            .sidebar_info {
                font-size: 10pt;
                margin-top: 15%;
                text-align: center;
                font-weight: bold;
                color: #9F8E8E;
            }

            .sidebar_info:hover  {
                cursor: text !important;
                opacity: 1 !important;
            }

            #tree_container {
    width: 415px;
    height: 489px;
    margin-left: auto;
    margin-right: auto;
}
    #tree_img {
        position: absolute;
    }

    .tree_item_container {
        height: 80%;
        justify-self: auto;
        margin-bottom: 10%;
    }
    .tree_item_row1 {
        display: flex;
        justify-content: space-around;
        
        position: relative;
        
        height: 33%;
        
        text-align: center;
    }

    .tree_item_row2 {
        display: flex;
        justify-content: space-around;
        
        position: relative;
        
        margin-left: 25%;
        margin-right: 25%;
        height: 33%;
        
        text-align: center;
    }

    .tree_item_row3 {
        display: flex;
        justify-content: space-around;
        
        position: relative;
        
        height: 33%;

        text-align: center;
    }

        .tree_item_col {
            align-self: center;
        }
        .tree_item_col:hover {
            cursor: pointer;        
            opacity: 0.75;
        }

        .tree_item_sender {
            border-radius: 15px;
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.5);
        }

        

    #page_indicator_container {
        display: flex;
        justify-content: space-around;        
        position: relative;
        width: 114px;
        height: 43px;
        
        margin-left: auto;
        margin-right: auto;
        
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 30px;
    }

    .page_indicator_item {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 18px;
    }

        .able > a {
            all: unset;
        }

        .able > a:hover {
            cursor: pointer;
            opacity: 0.75;
        }

        .disable > a {
            all: unset;
            color: grey;
        }

#button_container {
    width: 568px;
    height: 52px;
    background-color: #FFB5B9;    
    
    margin-left: auto;
    margin-right: auto;

    border-radius: 22px;
}

#button_container:hover {
    cursor: pointer;
    opacity: 0.75;
}
    .button_text {
        color: #ffffff;
        text-align: center;
        font-size: 24pt;
        height: 100%;
    }

.modalDialog {
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 9999;
    opacity: 0;
    pointer-events: none;

}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

    .modalDialog > div {
        width: 600px;
        height: 500px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        border-style: solid;
    }
    .delete {
        background: #f7efe7;
        color: #634646;

        width: 50px;
        line-height: 25px;

        position: absolute;
        top: -30px;
        right: 5%;
        text-align: center;

        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 1);
        border-width: 1;

    }

    #modal_close_container {
        width: 600px;
        height: 52px;
        background-color: #634646;    
        
        position: absolute;
        bottom: -60px;

        margin-left: auto;
        margin-right: auto;
    
        border-radius: 22px;
    }
    
    #modal_close_container:hover {
        cursor: pointer;
    }
        .modal_close_text {
            color: #ffffff;
            text-align: center;
            font-size: 24pt;
            height: 100%;
        }

