#overlay {
    
    position: absolute;
    width: 600px;
    height: 741px;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 1;
}

    #sidebar {
        position: absolute;
        width: 260px;
        height: 741px;
        background-color: #634646;
        right: 0;
        z-index: 1;
    }
        .close_icon {
            margin-top: 10%;
            margin-left: 85%;
        }

        .close_icon:hover {
            opacity: 0.5;
        }

        .sidebar_content {
            color: #ffffff;
        }

        .sidebar_content > div:hover {
            cursor: pointer;
            opacity: 0.5;
        }
            .sidebar_title, .sidebar_nickname {
                font-size: 30px;
                margin-left: 5%;
                margin-top: 15%;
            }

            .sidebar_id {
                font-size: 24px;
                margin-left: 5%;
            }

            .sidebar_join, .sidebar_more, .sidebar_tree_show {
                font-size: 20px;
                margin-left: 5%;
                margin-top: 8%;
            }
           
            .sidebar_info {
                font-size: 10pt;
                margin-top: 15%;
                text-align: center;
                font-weight: bold;
                color: #9F8E8E;
            }

            .sidebar_logout {
                font-size: 20px;
                margin-top: 15%;
                text-align: left;
                font-weight: bold;
                color: #9F8E8E;
                margin-left: 5%;
                margin-top: 8%;
            }

            .sidebar_info:hover, .sidebar_nickname:hover, .sidebar_id:hover  {
                cursor: text !important;
                opacity: 1 !important;
            }
